<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message from, <%= @contact.name %></h1>
    <p>
      <h3>from email, <%= @contact.email %></h3>
    </p>
    <p>
      <center><h3>Message</h3></center> 
      <h2><%= @contact.message %></h2>
    </p>
    <p>Thanks you ideologysoft.com</p>
  </body>
</html>